html {
    height: 100%;
    width: 100%;
  }
  
  body{background-color: lawngreen;}
  
  h1{color: indigo}
  
  h2{color: hotpink}
  
  h3{color: yellow}
  
  h4{color: white}
  
  ul{color: black;
    border: 1px solid red;
    border-top: ....;
    border-bottom: ...;
    border-right: ...;
    border-left: ...;
    border-radius: 5px}
  
  img{
    position: relative;
    left: 44%;
  }